<div class="app-body-main-content">
    <div class="app-body-div-top">
      <div class="registration-box">
        <form class="school-registration-form">
          <label for="username">Username</label>
          <input type="text" placeholder="Email or Phone" id="username" />
          <label for="password">Password</label>
          <input type="password" placeholder="Password" id="password" />
          <label for="role">Role</label>
          <input type="text" placeholder="Role" id="role"/>
          <a routerLink="/school/dashboard"><button>Submit</button></a>
        </form>
      </div>
    </div>
  </div>
  