<div class="app-body-main-content">
    <div class="app-body-div-top">
      <div class="registration-box">
        <form class="student-registration-form">
          <label for="studentname">Student Name </label>
          <input type="text" placeholder="Enter Student Name" id="studentname" />
          <label for="studentage">Date of Birth</label>
          <input type="date" placeholder="Date of Birth"  id="studentage"  />
          <label for="studentage">Student Name </label>
          <input type="number" placeholder="Enter Student Age" id="studentage" />
          <label for="studentemail">Student Email</label>
          <input type="email" placeholder="Enter Email" id="studentemail" />
          <label for="studentcontact">Contact Number</label>
          <input type="number" placeholder="Contact Number" id="studentcontact" />
          <a routerLink="/school/dashboard"><button>Submit</button></a>
        </form>
      </div>
    </div>
  </div>
  