<div class= "header">
    <div class="logo">
      <a routerLink= '/'><img src="../assets/logo.png" alt="logo"></a>
      <nav>
        <ul class="nav_list">
          <li class="nav-item"><a routerLink= '/'>Home</a></li>
          <li class="nav-item"><a routerLink='/admin/login'>Admin Login</a> </li>
          <li class="nav-item"><a routerLink="/school/login">School Login</a> </li>
        </ul>
      </nav>
    </div>
  </div>
  
  <div class="main-content">
    <p>SCHOOL MANAGEMENT PLATFORM</p>
  </div>
<!--   
  <div class="footer">
    <nav>
      <p> @copyright solultima technology private limited</p>
    </nav>
  </div> -->